<a href="https://colab.research.google.com/github/CarlaFFochs/Udemy_Projects/blob/main/1_Getting_Your_Data_Ready_Splitting_Yor_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
#Let's listify the contents

what_were_covering= [
  "0. An end-to-end Scikit-Learn workflow",
  "1. Getting the data ready",
  "2. Choose the right estimator/algoritm for our problems",
  "3. Fit the model/algoritm and use it to make predictions on our data",
  "4. Evalutating the data",
  "5. Improve a model",
  "6. Save and load the trained model",
  "7. Putting it all together"
]

In [129]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algoritm for our problems',
 '3. Fit the model/algoritm and use it to make predictions on our data',
 '4. Evalutating the data',
 '5. Improve a model',
 '6. Save and load the trained model',
 '7. Putting it all together']

In [130]:
#Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#1. Getting our data ready to be used with ML

Three main things we have to do:
  1. Split the data into features and labels (usally "X" & "y")
  2. Filling (also calling Imputing) or disregarding missing values
  3. Converting non-numerical values to numerical values (also called Feature Enconding)

In [131]:
heart_disease = pd.read_csv("/content/drive/MyDrive/MASTER DATA SCIENCE/M0/M0 - UDEMY/Machine Learning/Typical Workflow Sklearn/data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [132]:
X = heart_disease.drop("target", axis=1)

In [133]:
y= heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [134]:
#Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2)

In [135]:
X_train.shape, X_test.shape , y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [136]:
X.shape[0] #we extract the number of rows

303

In [137]:
X.shape[0]*0.8  #si multipliquem la "X" pel 0.8 (80%) sabem cuantes files i hauran a la X_train
#ho comprovem amb els valors que ens han sortit abans

242.4

In [138]:
X.shape[0]*0.2 #aqui tenim els número de files de la X_test

60.6

In [139]:
len(heart_disease)

303

##Clean, Transform and Reduce

More data does not mean that all is usefull. 

Before we create the model we need to:

***Clean Data --> Tranform Data --> Reduce Data***

1.   **Clean Data:** We remove a row or a column that has missing values or calcuate the mean in order to impute the missing values
2.   **Transform Data:** Computer has to understand the information, so we need to convert it into NUMBERS. Computer does not understand a "Color" for example. As well, we have to put the data in the same units to work with it
2.   **Reduce Data (Dimensionality Reduction):** The more data, the more CPU is needed. We need to earn money. You can remove columns that wouldn't be needed for your model.

### Convert Data To Numbers

###Make sure it's all numerical

In [140]:
car_sales = pd.read_csv("/content/drive/MyDrive/MASTER DATA SCIENCE/M0/M0 - UDEMY/Machine Learning/Typical Workflow Sklearn/data/car-sales-extended.csv")
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [141]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [142]:
#Independent = X
#Dependent = y

In [143]:
len(car_sales)

1000

In [144]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [145]:
#'object" we have to convert them into "int64" in order to be all NUMERICAL

In [146]:
#Split into X/y

X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

#Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2)

In [147]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((800, 4), (200, 4), (800,), (200,))

In [148]:
X.shape[0]*0.80 #X_train, número de filas #800

800.0

In [149]:
X.shape[1]*0.80 #X_train, número de columnas #4

3.2

In [150]:
X.shape[0]*0.20 #X_test, número de filas #200

200.0

In [151]:
X.shape[1]*0.20 #X_test, número de columnes #1

0.8

In [152]:
y.shape[0]*0.80 #y_train, numero de filas

800.0

In [153]:
#Building a ML model

#from sklearn.ensemble import RandomForestRegressor #we pick this model as we want to estimate a value
#model= RandomForestRegressor()

#model.fit(X_train,y_train) #Training --> Error! It cannot train if the data is not ALL NUMERICAL
#model.score(X_test, y_test) #Evalutation

In [154]:
##FOR THIS REASON WE MUST --> Turn CATEGORIES into NUMBERS

In [155]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #"Doors" seems to be numerical, because you can classifier the cars with the numbers of doors
one_hot= OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough") #aqui nomes creem la variable "tranformer" per tal de que fagi la transformació

In [156]:
car_sales["Doors"].value_counts() #here we can see that the "Doors" can be categorical

4    856
5     79
3     65
Name: Doors, dtype: int64

In [157]:
#transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

    #ColumnTranformer
         #1.Take the one_hot enconder function and apply it to the "categorical features"
         #2.From the remainder columns, passthough (don't do anything)

![title](https://womaneng.com/wp-content/uploads/2018/09/onehotencoding.jpg)

**fit_transform()**

– It is a conglomerate above two steps. Internally, it first calls **fit()** and then **transform()** on the same data.

– It joins the **fit()** and **transform()** method for the transformation of the dataset.

– It is used on the training data so that we can scale the training data and also learn the scaling parameters. Here, the model built will learn the mean and variance of the features of the training set. These learned parameters are then further used to scale our test data.

In [158]:
transformed_X = transformer.fit_transform(X) #aquí tranformem i entrenem la variable "transformer" que té tota la informació . Només cal cridar la "X" perquè la "y" ja és numérica
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [159]:
pd.DataFrame(transformed_X) #ho passem a DataFrame per entendre-ho millor

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [160]:
#utilitzem el métode "get_dummies" per poder veure la matriu tranformada però amb les etiquetes corresponents. És com el OneHotEnconfing però amb etiquetes

dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [161]:
#Let's refit the model but with the "transformed_X" matrix
from sklearn.ensemble import RandomForestRegressor 
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X , y , test_size = 0.2)

model= RandomForestRegressor()

model.fit(X_train, y_train)

RandomForestRegressor()

In [162]:
model.score(X_test,y_test)

0.3235867221569877

## Handling Missing Values With Pandas

###1.2 What if there were missing values?

1. Fill them with some value (also know as imputation)
2. Remove the sample with missing data all together

In [163]:
#Import car sales missing data

car_sales_missing = pd.read_csv("/content/drive/MyDrive/MASTER DATA SCIENCE/M0/M0 - UDEMY/Machine Learning/Typical Workflow Sklearn/data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [164]:
car_sales_missing.isna().sum() # .isna però per veure el resum fer el .sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [165]:
#Let's convert our data to numbers

In [166]:
#Let's make a new X and Y because if not we will working with the wrong X and Y

X = car_sales_missing.drop("Price", axis = 1)
y= car_sales_missing["Price"]

In [167]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

###Option 1: Fill missing data with Pandas

In [168]:
#Aqui veiem quin és el valor més repetit (moda) per imputar-lo al valor NaN de la columna "Doors"
car_sales_missing["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [169]:
#Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace = True)

#Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing", inplace = True)

#Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace = True)

#Fill the "Doors" column
car_sales_missing["Doors"].fillna(4, inplace = True)

In [170]:
#Cheeck our DataFrame again
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [171]:
#El Price el treiem perquè si hi han "NaN"s directament no ens servirà per fer les prediccions. No hi ha cap target, no te sentit. Ens carreguem totes les files que tinguin el "Price" amb un valor "NaN"
#Remove rows with missing Price value

car_sales_missing.dropna(inplace=True)

In [172]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [173]:
#Now we do not have MISSING VALUES

In [174]:
len(car_sales_missing) #hem perdut 50 files

950

In [175]:
#Split data into X / y

X = car_sales_missing.drop("Price" , axis = 1)
y = car_sales_missing["Price"]

In [176]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #"Doors" seems to be numerical, because you can classifier the cars with the numbers of doors
one_hot= OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough") #aqui nomes creem la variable "tranformer" per tal de que fagi la transformació

tranformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [177]:
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [178]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

### Option 2: Fill missing values with Sklearn

In [179]:
car_sales_missing = pd.read_csv("/content/drive/MyDrive/MASTER DATA SCIENCE/M0/M0 - UDEMY/Machine Learning/Typical Workflow Sklearn/data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [180]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [181]:
#Drop the rows with no price values (NaN labels)

car_sales_missing.dropna(subset = ["Price"], inplace = True) #remove the NaNS from the Price column
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [182]:
#Split into X & y

X = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing["Price"]

In [183]:
X.isna().sum() #this columns will predict the "Price" values

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [184]:
#Fill missing values in Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy = "constant", fill_value = "missing")
door_imputer = SimpleImputer(strategy = "constant", fill_value = 4)
num_imputer = SimpleImputer(strategy = "mean")

#Define columns
categorical_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

#Create an imputer (something that fills missing data)
#El imputer et fa totes les transformacions a l'hora, és una list amb 3 tuples
imputer = ColumnTransformer([
                           ("cat_imputer", cat_imputer, categorical_features), #cat_imputer on the categorical_features
                           ("door_imputer", door_imputer, door_feature),       #door_imputer on the door_feature
                           ("num_imputer", num_imputer, num_features)          #num_imputer on the num_features
])

#Transform the data
filled_X = imputer.fit_transform(X) #because X has missing values
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [185]:
car_sales_filled = pd.DataFrame(filled_X, columns = ["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [186]:
car_sales_filled.isna().sum() #we do NOT have MISSING VALUES

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [187]:
car_sales_filled.shape

(950, 4)

In [188]:
#Let's try to convert our data to NUMBERS

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #"Doors" seems to be numerical, because you can classifier the cars with the numbers of doors
one_hot= OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough") #aqui nomes creem la variable "tranformer" per tal de que fagi la transformació

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [189]:
transformed_X.shape

(950, 15)

In [190]:
#Now we've got out data as numbers and filled (no missing values)
#Let's fit the model

#import libaries
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

#split into training and test
X_train, X_test, y_train, y_test = train_test_split (transformed_X, y, test_size = 0.2)

#fit the model
model = RandomForestRegressor() #select the model
model.fit(X_train, y_train)     #fit the model
model.score(X_test, y_test)     #evaluate the model

0.21990196728583944

In [191]:
len(car_sales_filled), len(car_sales)

(950, 1000)

In [192]:
#it performs worst because we have less samples (950) and at the beggining (car_sales) we've had more (1000)